Exep_1/todo.txt
Exep_1/__pycache__/
Exep_1/code/__pycache__/MGU.cpython-312.pyc
Exep_1/code/__pycache__/MGU.cpython-314.pyc
Exep_1/code/__pycache__/RFOL.cpython-314.pyc
Exep_1/Exep1实验报告_归结推理.pdf
实验报告(Word)/
Exep_1/Exep1实验报告_MGU.pdf
实验报告(Word)/Exep2实验报告_TSP问题.docx
PPT/

Exep_2/Exep2实验报告_15puzzle问题.pdf
Exep_2/Exep2实验报告_TSP问题.pdf
24325084甘曦萌_实验3.zip
