PPT/~$3-4-归结原理.pptx
PPT/3-4-归结原理.pptx
Exep_1/todo.txt
Exep_1/__pycache__/RFOL.cpython-314.pyc
Exep_1/.docx
Exep_1/code/__pycache__/MGU.cpython-312.pyc
Exep_1/code/__pycache__/MGU.cpython-314.pyc
Exep_1/code/__pycache__/RFOL.cpython-314.pyc
Exep_1/Exep1实验报告_归结推理.docx
Exep_1/Exep1实验报告_MGU.docx
